{% set payment = data.payment %}
{% set order = payment.order %}
{% set labeled = 'yellow' %}

{% if 'approved' == data.state %}
    {% set labeled = 'green' %}
{% endif %}

{% if 'rejected' == data.state %}
    {% set labeled = 'red' %}
{% endif %}

<strong>Payment</strong>: {{ data.amount|sylius_format_money(payment.currencyCode, sylius.localeCode) }}<br>
<strong>State</strong>: <small class="ui label {{ labeled }}">{{ data.state|upper }}</small><br>
<strong>{{ 'Customer' }}</strong>: {{ data.user ? (data.user.customer.firstName ~ " " ~ data.user.customer.lastName) : '~' }}<br>
<strong>Transaction Code</strong>: {{ data.transactionCode|default('~') }}<br>
<strong>Note</strong>: {{ data.note|default('~') }}<br>

{% if data.slip and data.slip.path %}
    <strong>Slip</strong>: <a href="{{ data.slip.path|imagine_filter('strip') }}" target="_blank">{{ 'Show Slip' }}</a><br>
{% else %}
    <strong>Slip</strong>: {{ '~' }}<br>
{% endif %}
