{% set payment = data.payment %}
{% set order = payment.order %}
<strong>Payment</strong>: {{ data.amount|sylius_format_money(payment.currencyCode, sylius.localeCode) }}<br>
<strong>State</strong>: {{ data.state }}<br>
<strong>{{ 'Customer' }}</strong>: {{ data.user ? (data.user.customer.firstName ~ " " ~ data.user.customer.lastName) : '~' }}<br>
<strong>Transaction Code</strong>: {{ data.transactionCode|default('~') }}<br>
<strong>Note</strong>: {{ data.note|default('~') }}<br>
{% if data.slip and data.slip.path %}
    <strong>Slip</strong>: <a href="{{ data.slip.path|imagine_filter('strip') }}" target="_blank">{{ 'Show Slip' }}</a><br>
{% else %}
    <strong>Slip</strong>: {{ '~' }}<br>
{% endif %}
